



#game-region {
    position: absolute;
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    border: solid 2px #000;
    padding: 10px;
    margin: 2px;
}