/* Fitt */
div{
    text-align: center;
}

.small-fitt{
    display: inline-block;
    padding-right: 100px;
}
.big-fitt{
    display: inline-block;
}
.big-fitt button{
    width: 200px;
    height: 30px;
}

/* pragnanz */

.pragnanz-simple{
    display: inline-block;
}
.pragnanz-complex{
    display: inline-block;
}
.pragnanz-complex button{
    background-color: transparent;
    border-top: 50px solid #555;
    border-bottom: 50px solid #555;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
    height: 0;
    padding: 0;
}

/* miller's law */

.miller table{
    table-layout: fixed;
    border: 1px solid black;
}
.miller td{
    width: 25%;
    height: 100px;
    
}
.miller th{
    border: 1px solid black;
}

.serial-correct{
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    justify-content: space-between;
    margin-bottom: 20px;
}

.serial-correct > div{
    background-color: #f1f1f1;
    width: 150px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
}

.serial-false{
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    justify-content: space-between;
}

.serial-false > div{
    background-color: #f1f1f1;
    width: 150px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
}

.restorff button{
    width: 200px;
    height: 30px;
}
.uniform-boxes{
    display: flex;
    align-items: center;
    padding: 30px;
}

.divider{
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 5px
}