h1{
    font-size: 100px;
    font-family: fantasy;
    color: saddlebrown;
}





.header{
    text-align: center;
    
}
a{
    align-items: center;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.box1{
    text-align: center;
    background-color: red;
    width: 300px;
    height: 300px;
}
.box2{
    background-color: rgb(132, 0, 255);
    width: 300px;
    height: 300px; 
}


table, tr, td{
    border: 1px solid black;
}

.diffbutton{
    background-color: white;
  color: black;
  border: 10px double #4CAF50; /* Green */
}
.diffbutton:active{
    background-color: rgb(209, 32, 32);
}
.flexbox1 {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    justify-content: space-between;
  }
  
  .flexbox1 > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }



  .flexbox2 {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    justify-content: stretch;
  }
  
  .flexbox2 > div {
    background-color: #f1f1f1;
    width: 100px;
    
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }